.signIn {
  background-color: var(--ash);
}

.imageContainer {
  width: 50vw;
  height: 100vh;
  background-color: rgb(244, 241, 237);
  overflow: hidden;
  text-align: center;
}

.slider {
  display: flex;
  animation: slide 9s infinite;
}

.container {
  display: flex;
  width: 100%;
}

.imageContainer h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

img {
  width: 50vw;
  height: 70vh;
}

.formContainer {
  width: 50vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 30vw;
}

form {
  display: flex;
  flex-direction: column;
}

.formContainer input {
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid black;
}

.forgotPassword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

label {
  margin-top: 30px;
}

.form h1 {
  color: var(--lemon);
  /* color: rgb(27, 31, 54); */
}

.googleSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 241, 237);
  margin-top: 30px;
}

.googleSignIn img {
  width: 80px;
  height: 70px;
  margin-right: -20px;
}

.submitBtn {
  border: none;
  background-color: var(--lemon);
  /* background-color: rgb(27, 31, 54); */
  padding: 20px 0;
  color: white;
  width: 100%;
  cursor: pointer;
}

.linkTag {
  text-decoration: none;
  color: unset;
}

.noAccount {
  color: var(--lemon);
  /* color: rgb(27, 31, 54); */
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 958px) {
  .container {
    flex-direction: column;
  }
  .imageContainer {
    width: 100%;
    height: 70vh;
  }

  img {
    width: 100vw;
    height: 50vh;
  }

  .formContainer {
    width: 100%;
    margin-top: 30px;
    height: auto;
    margin-bottom: 50px;
  }

  .form {
    width: 50vw;
  }
}

@media (max-width: 500px) {
  .imageContainer {
    width: 100%;
    height: 40vh;
  }

  img {
    width: 100vw;
    height: 20vh;
  }

  .form h1 {
    font-size: 25px;
  }

  .forgotPassword{
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
}

@media (max-width: 608px) {
  .form {
    width: 80vw;
  }

  .noAccount {
    font-size: 17px;
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
