.countdownSession {
  margin-top: 90px ;
  margin-bottom: 30px;
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.countdownSession .image {
  width: 100%;
  height: 100%;
}

.countdownSession .timerTab {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdownSession h1 {
  margin: 20px 0;
  font-weight: bolder;
}

.countdownSession button {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: var(--lemon);
  border: none;
  border-radius: 10px;
  font-size: 17px;
  color: white;
}

@media (max-width: 1140px) {
  .countdownSession .image {
    width: 140%;
  }
}

@media (max-width: 940px) {
  .countdownSession .image {
    width: 170%;
  }
}

@media (max-width: 700px) {
  .countdownSession .image {
    width: 200%;
    height: 300px;
  }
}