.shopItems {
    margin-bottom: 20px ;
  }
  
  .shopItems .headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .shopItems .headerContainer .header {
    font-size: 35px;
    color: white;
    text-transform: capitalize;
  }
  
  .shopItems .headerContainer .buyBtnContainer {
    height: 50px;
    width: 120px;
    position: relative;
  }
  
  .shopItems .headerContainer .buyBtnContainer .buyBtn {
    padding: 15px 20px;
    background-color: transparent;
    border: none;
    border: 2px solid var(--lemon);
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  
  .shopItems .headerContainer .buyBtnContainer #filler {
    background-color: var(--lemon);
    position: absolute;
    top: 0px; 
    height: 100%;
    z-index: -100;
    width: 0;
    transition: ease-in-out 0.2s;
  }
  
  .shopItems .headerContainer
    .buyBtnContainer
    .buyBtn:hover
    + #filler {
    width: 120px;
  }
  
  .shopItems .container .eachTab .infoOne {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .shopItems .container .infoOne img {
    width: 80%;
    height: 300px;
    object-fit: contain;
    transition: ease 0.5s;
    margin-bottom: 50px;
  }
  
  .shopItems .container .infoOne img:hover {
    width: 85%;
    height: 310px;
  }
  
  .shopItems .container .eachTab .infoTwo {
    position: absolute;
    margin-top: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .shopItems .container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  
  .shopItems .container .eachTab {
    background-color: rgb(48, 59, 55);
    /* background-color: rgb(48, 126, 108, 0.4); */
    width: 100%;
    height: 500px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .shopItems .container .eachTab .name {
    color: white;
    font-size: 23px;
  }
  
  .shopItems .container .eachTab .namePlusColor {
    margin: 20px 0;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
  }
  
  .shopItems .container .eachTab .prices {
    display: flex;
    align-items: baseline;
  }
  
  .shopItems .container .eachTab .prices .newItemPrice {
    color: var(--deepGreen);
  }
  
  .shopItems .container .eachTab .prices .oldItemPrice {
    margin-left: 40px;
    position: relative;
    bottom: 1px;
    /* font-weight: 600; */
    font-size: 17px;
    text-decoration: line-through 2px;
    color: white;
  }
  
  /* .viewItem{
    position: absolute;
    top: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
  } */
  
  @media (max-width: 1250px) {
    .shopItems .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (max-width: 1000px) {
    .shopItems .container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 818px) {
    .shopItems .container {
      grid-template-columns: 1fr;
    }
  
    .shopItems .header {
      font-size: 30px;
      text-align: center;
    }
  }
  