.viewItem {
  overflow-x: hidden;
}
  .viewItem .product {
  padding: 0 20px;
}

.viewItem .product .firstTab {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.viewItem .product .firstTab .infos .category {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.viewItem .product .firstTab .infos .name {
  font-size: 35px;
  font-weight: bolder;
  margin: 10px 0;
  color: white;
}

.viewItem .product .firstTab .infos h3 {
  font-size: 30px;
  color: white;
}

.viewItem .product .firstTab .infos .shortDesc {
  /* font-size: 18px; */
  color: white;
  width: 50vw;
  margin: 10px 0;
}

.viewItem .product .firstTab .infos .buttons {
  display: flex;
  align-items: center;
  height: 100px;
}

.viewItem .product .firstTab .infos .buttons .cartBtnContainer {
  width: 130px;
  height: 50px;
}

.viewItem .product .firstTab .infos .cartBtn {
  padding: 15px 20px;
  background-color: var(--lemon);
  border: none;
  color: white;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  transition: ease-in-out 0.2s;
}

.viewItem .product .firstTab .infos .cartBtn:hover {
  width: 125px;
  height: 45px;
  margin-left: 5px;
  margin-top: 20px;
}

.viewItem .product .firstTab .infos .buttons .buyBtnContainer {
  width: 130px;
  height: 50px;
  position: relative;
}

.viewItem .product .firstTab .infos .buyBtnContainer .buyBtn {
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  border: 1px solid var(--lemon);
  color: white;
  margin-top: 15px;
  margin-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.viewItem .product .firstTab .infos .buttons .buyBtnContainer #filler {
  background-color: rgb(255, 255, 255, 0.9);
  position: absolute;
  right: -30px;
  top: 15px;
  height: 100%;
  z-index: -100;
  left: 30px;
  width: 0;
  transition: ease-in-out 0.2s;
}

.viewItem
  .product
  .firstTab
  .infos
  .buttons
  .buyBtnContainer
  .buyBtn:hover
  + #filler {
  width: 130px;
}

.viewItem
  .product
  .firstTab
  .infos
  .buttons
  .buyBtnContainer
  .buyBtn:hover
   {
  color: var(--lemon);
  font-weight: bold;
}

.viewItem .product .firstTab img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  margin-right: 120px;
}

.viewItem .product .secondTab {
  font-weight: lighter;
}

.viewItem .product .secondTab .description.active {
  font-weight: bold;
  color: var(--lemon);

}

.viewItem .product .secondTab .review.active {
  font-weight: bold;
  color: var(--lemon);
}

.viewItem .product .secondTab .reviewTab .name {
  margin: 20px 0;
}

.viewItem .product .secondTab .reviewTab .rating {
  color: var(--lemon);
  margin-bottom: 5px;
}

.viewItem .product .secondTab .descriptionTab p {
  font-size: 15px;
}

.viewItem .product .secondTab .reviewTab h4 {
  margin-top: 40px;
  font-weight: 300;
  font-size: 22px;
}

.viewItem .product .secondTab .reviewTab form input {
  margin: 20px 0;
  padding: 15px 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.viewItem .product .secondTab .reviewTab form input:focus {
  outline: none;
}

.viewItem .product .secondTab .reviewTab form textarea:focus {
  outline: none;
}

.viewItem .product .secondTab .reviewTab form textarea {
  height: 100px;
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 10px;
  color: white;
}

.viewItem .product .secondTab .reviewTab form .stars div {
  margin-right: 40px;
  cursor: pointer;
}

.viewItem .product .secondTab .reviewTab form {
  width: 60vw;
}

.viewItem .product .secondTab .reviewTab form .stars {
  display: flex;
  color: var(--lemon);
  margin-bottom: 20px;
}

.viewItem .product .secondTab .reviewTab form button {
  width: 100px;
  padding: 15px 0;
  background-color: var(--lemon);
  margin-top: 20px;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
}

.viewItem .otherProducts {
  margin: 20px 0;
  padding: 0 20px;
}

.viewItem .otherProducts .header {
  font-size: 25px;
  color: white;
  text-transform: capitalize;
  margin-top: 30px;
}

.viewItem .otherProducts .container .eachTab .infoOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewItem .otherProducts .container .infoOne img {
  width: 80%;
  height: 300px;
  object-fit: contain;
  transition: ease 0.5s;
  margin-bottom: 50px;
}

.viewItem .otherProducts .container .infoOne img:hover {
  width: 85%;
  height: 310px;
}

.viewItem .otherProducts .container .eachTab .infoTwo {
  position: absolute;
  margin-top: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewItem .otherProducts .container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.viewItem .otherProducts .container .eachTab {
  background-color: rgb(48, 59, 55);
  /* background-color: rgb(48, 126, 108, 0.4); */
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* cursor: pointer; */
}

.viewItem .otherProducts .container .eachTab .name {
  color: white;
  font-size: 23px;
}

.viewItem .otherProducts .container .eachTab .namePlusColor {
  margin: 20px 0;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
}

.viewItem .otherProducts .container .eachTab .prices {
  display: flex;
  align-items: baseline;
}

.viewItem .otherProducts .container .eachTab .prices .newItemPrice {
  color: var(--deepGreen);
}

.viewItem .otherProducts .container .eachTab .prices .oldItemPrice {
  margin-left: 40px;
  position: relative;
  bottom: 1px;
  font-size: 17px;
  color: white;
  text-decoration: line-through 2px;
}

.viewItem .otherProducts .container .eachTab .addToCartBtn {
  background-color: var(--deepGreen);
  padding: 15px 70px;
  margin-top: 30px;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .viewItem .otherProducts .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .viewItem .otherProducts .container {
    grid-template-columns: 1fr 1fr;
  }

  .viewItem .product .firstTab {
    flex-direction: column;
    text-align: center;
  }

  .viewItem .product .firstTab img {
    margin-right: 0px;
  }

  .viewItem .product .firstTab .infos .shortDesc {
    color: white;
    width: 95vw;
  }

  .viewItem .product .secondTab .reviewTab form {
    width: 80vw;
  }

  .viewItem .product .firstTab .infos .buttons {
    justify-content: center;
    flex-direction: column;
    height: unset;
    margin-bottom: 30px;
  }

  .viewItem .product .firstTab .infos .buyBtnContainer .buyBtn {
    margin-left: 0px;
    width: 100%;
  }

  .viewItem .product .firstTab .infos .cartBtnContainer .cartBtn {
    width: 200px;
    margin-left: -35px;
  }

  .viewItem .product .firstTab .infos .buttons .cartBtnContainer {
    width: 130px;
    height: 50px;
  }

  .viewItem .product .firstTab .infos .cartBtn:hover {
    width: 195px;
    height: 44px;
    margin-left: -33px;
  }

  .viewItem .product .firstTab .infos .buttons .buyBtnContainer {
    width: 200px;
    margin-top: 20px;
  }

  .viewItem .product .firstTab .infos .buttons .buyBtnContainer #filler {
    left: 0px;
    width: 0;
  }

  .viewItem
    .product
    .firstTab
    .infos
    .buttons
    .buyBtnContainer
    .buyBtn:hover
    + #filler {
    width: 200px;
  }
}

@media (max-width: 818px) {
  .viewItem .otherProducts .container {
    grid-template-columns: 1fr;
  }

  .viewItem .otherProducts .header {
    font-size: 30px;
    text-align: center;
  }

  .viewItem .product .firstTab img {
    margin-right: 0px;
  }
}
