* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --deepBlue: rgb(8, 0, 36);
  --blue: rgb(0, 124, 128);
  --lemon: rgb(43, 153, 109);
  --deepGreen: rgb(48, 126, 108);
  --fadedBlue: rgb(255, 0, 0, 0.7);
  /* --fadedBlue: rgb(8, 0, 36, 0.7); */
  --deepFadedBlue: #303b37;
  /* --deepFadedBlue: rgb(8, 0, 36, 0.9); */
}

.linkTag {
  text-decoration: none;
  color: unset;
}
